<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %}
    {% if not foloop.last %}
    <li>{% else %}</li>
    <li> class='last'>
    {% endif %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<h1>{{ title }}</h1>

<ul>
    {% for p in posts %}
    {% if p.is_published %}
    <li>
        <h2>{{ p.title }}</h2>
        <p>{{ p.content }}</p>
        <p><a href="{% url 'post' p.id %}">Обновить</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>